.container {
   padding: 24px;
   height: 100vh;
   display: grid;
   grid-template-rows: auto 1fr auto;

   max-width: 1100px;
   margin: 0 auto;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 32px;
}

.header h1{
   font-size: 30px;
   font-weight: 700;
   color: #00bcf2;
}

.header .div{
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.themeSwitcher {
   border: none;
   background-color: transparent;
   padding: 0;

   color: var(--text-color-secondary);
   margin-right: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   outline: none;
   transition: transform 100ms ease-out;
}

.themeSwitcher:active {
   transform: scale(0.85);
}